<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.za.sbs.delivery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ChangePasswordActivity"></activity>
        <activity
            android:name=".activities.DeliverProductsInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.FillReceiverInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.FillSenderInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CompleteDeliveredActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DeliverNotOKActivity"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- <activity android:name=".activities.ScanDetailActivity" /> -->
        <activity
            android:name=".activities.DetailProgressDeliveryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FontDetectorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".noti.LocationPermissionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".noti.FilePermissionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".noti.CameraPermissionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".noti.NoInternetActivity" />
        <activity
            android:name=".auth.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>